<!DOCTYPE html>
<html>
	<head>
		<title>POINTS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		{% block stylesheets %}
		<link rel="stylesheet" src="//normalize-css.googlecode.com/svn/trunk/normalize.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		{% endblock %}
	</head>
		{% for message in get_flashed_messages() %}
		<div class="message">
			<div class="container">
					{{message}}
			</div>
		</div>
		{% endfor %}

		{% if error %}
		<div class="message">
			<div class="container">
				<strong>Error:</strong> {{ error }}
			</div>
		</div>
		{% endif %}

		<div class="container">
			{% block content %}

			{% endblock %}
		</diV>
	</body>
</html>