* {
	box-sizing: border-box;
}
* + * {
	margin-top: 1.5em;
}
html, body {
	min-height: 100%;
}
body {
	background: url(https://unsplash.imgix.net/reserve/LJIZlzHgQ7WPSh5KVTCB_Typewriter.jpg?q=75&fm=jpg&s=2857080adb1de5db2cbddb6d230954bc) center center no-repeat;
	background-size: cover;
	font-size: 12px;
	line-height: 1.5em;
	margin: 0;
	font-family: Helvetica, sans-serif;
}
.container {
	width: 80%;
	margin: 0 auto;
	max-width: 700px;
}
.message {
	background: #fff4a6;
	border-bottom: #d9d18d;
	padding: .5em 1.5em;
	margin: 0;
}
.outer-box {
	background: rgba(0,0,0,0.5);
	color: white;
	padding: 1.5em;
}
.box {
	background: rgba(255,255,255,0.5);
	padding: 1.5em;
	color: black;
}