@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'animations/animations';

* {
	box-sizing: border-box;
}
* + * {
	margin-top: 1em;
}
html, body {
	min-height: 100%;
}
body {
	background: #111415;
	color: white;
	font-size: 16px;
	line-height: 1.5em;
	margin: 0;
	font-family: Helvetica, sans-serif;
}
h1 {
	color: #bff194;
	text-align: center;
	margin-top: 1.6em;
	font-size: 3.4em;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	@include animation( prettycolors 10s ease-in-out infinite alternate );
}
.text-center {
	text-align: center;
}
.container {
	width: 100%;
	margin: 0 auto;
}
.small-container {
	width: 90%;
	max-width: 600px;
	margin: 0 auto;
}
.message {
	color: black;
	text-align: center;
	background: #fff4a6;
	border-bottom: #d9d18d;
	padding: .5em 1.5em;
	margin: 0;
}
div.user {
	width: 14.2857143%;
	float: left;
	padding: .1em 1em;
	letter-spacing: 1px;
	text-align:center;
	position: relative;
	background: {
		color: rgba(20,30,30,1);
		size: cover;
		position: 50% 50%;
		repeat: no-repeat;
	}
	h2 {
		font-size: 2em;
		margin-bottom: 2.5em;
		position: relative;
		z-index: 1;
	}
	&:nth-of-type(2n) {
		background-color: rgba(40,50,50,1);
	}
	small {
		font-size: .36em;
		display: block;
		margin-top: 10px;
	}
	.pts-today {
		font-size: 3.5em;
		display: block;
		position: relative;
		z-index: 1;
	}
	.pts-all {
		width: 50%;
		float: left;
		display: block;
		font-size: 1.85em;
		position: relative;
		z-index: 1;
	}
	&:after {
		content:'';
		background: rgba(0,0,0,0.3);
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
	}
	&:hover {
		@include animation(squeeze 200ms ease-in);
		&:after {
			background: rgba(0,0,0,0.1);
		}
	}
    @media all and (max-width: 1000px) {
    	width: 25%;
    }
    @media all and (max-width: 758px) {
    	width: 50%;
    }
    @media all and (max-width: 570px) {
    	width: 100%;
    }
}
.box {
	background: rgba(255,255,255,1);
	border: 1px solid rgba(0,0,0,0.08);
	border-radius: 4px;
	padding: 0 1.5em;
}
input {
	width: 100%;
	padding: 10px;
	border: 1px solid #ccc;
}
button[type="submit"] {
	-webkit-appearance: none;
	background: #702217;
	color: white;
	border: 0;
	padding: 10px 20px;
	border-radius: 4px;
}
textarea {
	width: 100%;
	padding: 10px;
	min-height: 150px;

	border: 1px solid #ccc;
}