{% extends "base.html" %}

{% block content %}
<div class="outer-box">
	<h1>Ready to sign up?</h1>

	{% for message in form.user.errors %}
	<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.email.errors %}
	<div class="flash">{{ message }}</div>
	{% endfor %}

	{% for message in form.password.errors %}
	<div class="flash">{{ message }}</div>
	{% endfor %}

	<form action="{{ url_for('.signup') }}" method="post">
	{{ form.csrf_token }}
		<p>
			{{ form.user(placeholder="Username") }}
		</p>
		<p>
			{{ form.email(placeholder="Email") }}
		</p>
		<p>
			{{ form.password(placeholder="Password") }}
		</p>
		<p>
		  <button type="submit">Register</button>
		</p>
	</form>

</div>
{% endblock %}