{% extends "base.html" %}
{% block content %}
	<div class="hello outer-box small-container">
		<h1>Points Help</h1>
		<p>this is points help, where i help you with POINTS</p>
		<p>Available commands</p>
		<ul>
			<li>/points &lt;user&gt; &lt;amount&gt; - Give the selected user a select amount of POINTS!</li>
			<li>/points &lt;allowance&gt; - Check how many POINTS you have left to give today.</li>
			<li>/points img &lt;absolute image url&gt; - Change your image for the POINTS leaderboard</li>
		</ul>
	</div>
{% endblock %}